version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: libreria_mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secret
      MONGO_INITDB_DATABASE: libreria_nosql
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-data:/data/db
